<div class="row">
    <div class="small-12 small-centered columns">
        <h2>Add a gallery!</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 small-centered columns">
        <form>
            <fieldset>
              <label>Title</label>
              {{input value=title}}
              <label>URL</label>
              {{input value=url}}
              <label>Number of Photos</label>
              {{input value=numPhotos}}
              <label>Default Byline</label>
              {{input value=defaultByline}}
              <label>Default Description</label>
              {{input value=defaultDescription}}

              <div>
                {{#if importingPhotos}}
                  <button><span class="icon-spin5 animate-spin"></span></button>
                {{else}}
                  <button {{action "importPhotos"}}>Import Photos</button>
                {{/if}}
              </div>
            </fieldset>
            {{#if photos}}
              <h3>Gallery Preview</h3>
              <button {{action "createGallery"}}>Create Gallery</button>
            {{/if}}
            <div class="row">
                <div class="small-12 small-centered columns">
                    <ul class="large-block-grid-5">
                      {{#each photos itemController="photo"}}
                          <li>
                              <img class="th" {{bindAttr src="thumbnailSrc"}}>
                              <a {{action "delete"}} class="icon-cancel"></a>
                          </li>
                      {{/each}}
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>