<div class="row">
    <div class="small-12 small-centered columns">
        <h2>Add a gallery!</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 small-centered columns">
        <p>
          Imports a gallery with files named sequentially starting with 01.jpg, expects
            there to be a subdirectory named 'thumbs' with corresponding thumbnails named the same as the original photos.
            You also need to say how many photos to import.
        </p>
      <p>Example URL: <b>https://dl.dropboxusercontent.com/u/38141173/galleries/planting_fields</b> with <b>27</b> photos.</p>
        <form>
            <fieldset>
              <label>Title</label>
              {{input value=title class="js-title-input"}}
              <label>URL</label>
              {{input value=url class="js-url-input"}}
              <label>Number of Photos</label>
              {{input value=numPhotos class="js-num-photos-input"}}
              <label>Default Byline</label>
              {{input value=defaultByline class="js-default-byline-input"}}
              <label>Default Description</label>
              {{input value=defaultDescription class="js-default-description-input"}}

              <div>
                {{#if importingPhotos}}
                  <button><span class="icon-spin5 animate-spin"></span></button>
                {{else}}
                  <button {{action "importPhotos"}}>Import Photos</button>
                {{/if}}
              </div>
            </fieldset>
            {{#if photos}}
              <h3>Gallery Preview</h3>
              <button {{action "createGallery"}}>Create Gallery</button>
            {{/if}}
            <div class="row">
                <div class="small-12 small-centered columns">
                    <ul class="large-block-grid-5">
                      {{#each photos itemController="photo"}}
                          <li>
                              <img class="th" {{bindAttr src="thumbnailSrc"}}>
                              <a {{action "delete"}} class="icon-cancel"></a>
                          </li>
                      {{/each}}
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>